.auth__submit {
  height: 50px;
  border-radius: 2px;
  border: none;
  margin-top: 193px;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.auth__submit:hover {
  opacity: .85;
}

@media screen and (max-width: 968px) {
  .auth__submit {
    height: 46px;
    margin-top: 150px;
    font-size: 16px;
  }
}