.popup__message {
  width: 358px;
  font-weight: 900;
  font-size: 24px;
  line-height: normal;
  align-self: center;
  color: black;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 32px;
}

@media screen and (max-width: 968px) {
  .popup__message {
    width: 244px;
    font-size: 20px;
  }
}