.header {
 width: 880px;
  min-height: 74px;
  max-height: 74px;
  border-bottom: 1px solid rgb(54, 54, 54, .7);
  margin-top: 45px;
  justify-self: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 968px) {
  .header {
    width: 320px;
    margin-top: 28px;
    min-height: 56px;
  }
}